# Resume Parser

_Author:_ @AdameBf \\\
_Last edited:_ 2023-01-30

Inspired by [this article on projectpro.io](https://www.projectpro.io/article/artificial-intelligence-project-ideas/461#mcetoc_1fcb5nj0np), the aim is to classify resumes depending on the keywords they feature.

As suggesed in the article, the dataset used is [that of Kaggle](https://www.kaggle.com/gauravduttakiit/resume-dataset).

## 0. Loading steps

### 0.1. Library imports

In [2]:
import nltk
import pandas as pd

### 0.2. Loading of the dataset

In [4]:
resume_data = pd.read_csv(r'data/UpdatedResumeDataSet.csv')

In [5]:
resume_data.head()

       Category                                             Resume
0  Data Science  Skills * Programming Languages: Python (pandas...
1  Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2  Data Science  Areas of Interest Deep Learning, Control Syste...
3  Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4  Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...

## 1. Pre-processing using NLTK